---
# tasks file for sa-redis
  - name: Include Redis installation and configuration tasks
    ansible.builtin.include_tasks: tasks_redis.yml

  - name: Include Redis Commander installation tasks
    ansible.builtin.include_tasks: tasks_redis_commander.yml
    when: option_install_redis_commander
