---
# handlers file for sa-redis

  - name: restart redis
    ansible.builtin.service: name=redis-server state=restarted
    become: true
    when: docker_test is not defined
    tags:
      - skip_ansible_lint
